<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>New Message Sent</title>
  </head>

  <body
    style="
      margin: 0;
      padding: 20px;
      font-family: 'Inter', Arial, sans-serif;
      text-align: left;
    "
  >
    <div
      style="
        max-width: 600px;
        margin: auto;
        background: #fff;
        padding: 30px;
        border-radius: 8px;
      "
    >
      <div style="text-align: center">
        <img
          src="cid:beatza-logo"
          alt="Beatza Logo"
          style="padding: 15px 10px; width: 6rem; text-align: center"
        />
      </div>
      <div
        style="
          width: 100%;
          height: 1px;
          background-color: #a2a2a2;
          margin-bottom: 20px;
        "
      ></div>
      <p
        style="
          font-size: 24px;
          font-weight: 400;
          line-height: 24px;
          color: #121212;
          text-align: center;
        "
      >
        <span style="font-weight: 700">[Sender]</span>
        dropped a new release!
      </p>

      <p style="text-align: center">[newRelease]</p>

      <div style="text-align: center">
        <a
          href="[messageURL]"
          style="
            display: inline-block;
            text-decoration: none;
            background-color: #121212;
            color: white;
            padding: 10px 20px;
            border-radius: 20px;
            font-weight: 600;
            margin: 30px 0;
          "
        >
          Listen now
        </a>
      </div>

      <p style="text-align: center; font-size: 1.25rem">Never stop listening</p>

      <table
        align="center"
        cellpadding="0"
        cellspacing="0"
        border="0"
        style="margin: 20px auto"
      >
        <tr>
          <td align="center" style="padding-right: 60px">
            <img
              src="https://ci3.googleusercontent.com/meips/ADKq_NbbZKw4VNIhckzg0IicWeYZslVWy2XZce7BY039crWYHrgO8c5Y1tbUup2MOjZKaT36cC4gD83V1Llb3uOMi1vxoisyzOMdzWKdr174SR99drInzvipRZlPbAhViBIL6a7Avk3THA=s0-d-e1-ft#https://a-v2.sndcdn.com/assets/images/marketing/badge-app-stores-apple-en-us.png"
              alt="Download On App Store"
              width="150"
              style="display: block"
            />
          </td>
          <td align="center" style="padding-left: 60px">
            <img
              src="https://ci3.googleusercontent.com/meips/ADKq_NahZEvU3-pMtTFpTzbOaC0fIwDnhCIumoTBsCy51Y_MieasfdoWtt2FT8fVlWOVmaQKaG3COD3a82vJG87nUR8tuOMD7J4Z7YVhQDOyxxhtZkMqG2MaE-Rudy43jnXhjmRwfx-YezE=s0-d-e1-ft#https://a-v2.sndcdn.com/assets/images/marketing/badge-app-stores-google-en-us.png"
              alt="Download On Google Play"
              width="160"
              style="display: block"
            />
          </td>
        </tr>
      </table>
      <table
        width="100%"
        style="background-color: #eeeeee; padding: 10px 2px; width: full"
        align="center"
        cellpadding="0"
        cellspacing="0"
        border="0"
      >
        <td align="center">
          <table
            width="50"
            height="50"
            cellpadding="0"
            cellspacing="0"
            border="0"
          >
            <tr>
              <td
                align="center"
                valign="middle"
                style="
                  background: #ffffff;
                  border-radius: 50%;
                  width: 50px;
                  height: 50px;
                "
              >
                <a href="https://x.com" target="_blank">
                  <img
                    src="https://cdn.simpleicons.org/x/000000"
                    width="24"
                    style="display: block"
                    alt="X"
                  />
                </a>
              </td>
            </tr>
          </table>
        </td>

        <td align="center">
          <table
            width="50"
            height="50"
            cellpadding="0"
            cellspacing="0"
            border="0"
          >
            <tr>
              <td
                align="center"
                valign="middle"
                style="
                  background: #ffffff;
                  border-radius: 50%;
                  width: 50px;
                  height: 50px;
                "
              >
                <a href="https://instagram.com" target="_blank">
                  <img
                    src="https://cdn.simpleicons.org/discord/000000"
                    width="24"
                    style="display: block"
                    alt="discord"
                  />
                </a>
              </td>
            </tr>
          </table>
        </td>

        <td align="center">
          <table
            width="50"
            height="50"
            cellpadding="0"
            cellspacing="0"
            border="0"
          >
            <tr>
              <td
                align="center"
                valign="middle"
                style="
                  background: #ffffff;
                  border-radius: 50%;
                  width: 50px;
                  height: 50px;
                "
              >
                <a href="https://tiktok.com" target="_blank">
                  <img
                    src="https://cdn.simpleicons.org/tiktok/000000"
                    width="24"
                    style="display: block"
                    alt="TikTok"
                  />
                </a>
              </td>
            </tr>
          </table>
        </td>

        <td align="center">
          <table
            width="50"
            height="50"
            cellpadding="0"
            cellspacing="0"
            border="0"
          >
            <tr>
              <td
                align="center"
                valign="middle"
                style="
                  background: #ffffff;
                  border-radius: 50%;
                  width: 50px;
                  height: 50px;
                "
              >
                <a href="https://youtube.com" target="_blank">
                  <img
                    src="https://cdn.simpleicons.org/youtube/000000"
                    width="24"
                    style="display: block"
                    alt="YouTube"
                  />
                </a>
              </td>
            </tr>
          </table>
        </td>

        <td align="center">
          <table
            width="50"
            height="50"
            cellpadding="0"
            cellspacing="0"
            border="0"
          >
            <tr>
              <td
                align="center"
                valign="middle"
                style="
                  background: #ffffff;
                  border-radius: 50%;
                  width: 50px;
                  height: 50px;
                "
              >
                <a href="https://facebook.com" target="_blank">
                  <img
                    src="https://cdn.simpleicons.org/facebook/000000"
                    width="24"
                    style="display: block"
                    alt="Facebook"
                  />
                </a>
              </td>
            </tr>
          </table>
        </td>
      </table>
      <div style="background-color: #e0e0e0; padding: 15px 10px">
        <footer
          style="
            font-family: Arial, sans-serif;
            font-size: 12px;
            line-height: 1.6;
            max-width: 600px;
            text-align: center;
          "
        >
          <img
            src="cid:beatza-logo"
            alt="Beatza Logo"
            style="padding: 8px 0px; width: 4.5rem"
          />

          <table
            width="100%"
            cellpadding="0"
            cellspacing="0"
            border="0"
            style="
              margin-top: 20px;
              font-family: Arial, sans-serif;
              font-size: 12px;
              color: #777777;
              line-height: 18px;
            "
          >
            <tr>
              <td align="center">
                <!-- Links -->
                <p style="margin: 0 0 10px 0">
                  <a href="#" style="color: #777777; text-decoration: none"
                    >About Us</a
                  >
                  |
                  <a href="#" style="color: #777777; text-decoration: none"
                    >Help</a
                  >
                  |
                  <a href="#" style="color: #777777; text-decoration: none"
                    >Legal</a
                  >
                  |
                  <a href="#" style="color: #777777; text-decoration: none"
                    >Privacy</a
                  >
                  |
                  <a href="#" style="color: #777777; text-decoration: none"
                    >Jobs</a
                  >
                </p>

                <!-- Unsubscribe text -->
                <p style="margin: 10px 0">
                  This email was sent to
                  <a href="mailto:[EmailValue]" style="color: #1155cc"
                    ><strong>[EmailValue]</strong></a
                  >
                  because you indicated that you'd like to receive news,
                  promotions, and updates from BeatZa. If you don't want to
                  receive such emails in the future, please
                  <a
                    href="[unsubscribeLink]"
                    style="color: #1155cc; text-decoration: underline"
                  >
                    unsubscribe here </a
                  >.
                </p>

                <!-- Notification text -->
                <p style="margin: 10px 0">
                  You are receiving this service message because of your recent
                  account activity.
                </p>

                <!-- Address -->
                <p style="margin: 10px 0">
                  BeatZa Global Limited &amp; Co. KG<br />
                  Rheinsberger Str. 76/77 10115 Berlin Germany
                </p>

                <!-- Copyright -->
                <p style="margin: 10px 0">
                  © 2026 BeatZa Global Limited &amp; Co. KG. All rights
                  reserved.
                </p>

                <!-- Trademarks -->
                <p style="margin: 10px 0">
                  Apple and the Apple logo are trademarks of Apple Inc.,
                  registered in the U.S. and other countries and regions. App
                  Store is a service mark of Apple Inc.
                </p>

                <p style="margin: 10px 0">
                  Google Play and the Google Play logo are trademarks of Google
                  Inc.
                </p>
              </td>
            </tr>
          </table>
        </footer>
      </div>
    </div>
  </body>
</html>
