<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Verify Account</title>
  </head>

  <body
    style="
      margin: 0;
      padding: 20px;
      font-family: 'Inter', Arial, sans-serif;
      text-align: left;
    "
  >
    <div
      style="
        max-width: 600px;
        margin: auto;
        background: #fff;
        padding: 30px;
        border-radius: 8px;
      "
    >
      <div style="text-align: center">
        <img
          src="https://res.cloudinary.com/dr1sqiouu/image/upload/v1777331180/profile/file_zt16at.png"
          alt="Beatza Logo"
          style="padding: 15px 10px; width: 6rem; text-align: center"
        />
      </div>
      <h1
        style="
          margin: 0 auto 32px auto;
          font-size: 28px;
          font-weight: 600;
          line-height: 48px;
          color: #121212;
          text-align: left;
          text-decoration: none;
          text-transform: none;
          font-family: 'Inter', Arial, sans-serif;
          font-style: normal;
        "
      >
        Thanks for signing up to BeatZa!
      </h1>
      <p
        style="
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          color: #121212;
        "
      >
        Hey [User]
      </p>
      <p
        style="
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          color: #121212;
        "
      >
        Thanks for joining us.
      </p>
      <p
        style="
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          color: #121212;
        "
      >
        <span style="font-weight: 700"
          >Please click the link below to complete your BeatZa
          registration.</span
        >
        Doing so gives you full access to SoundCloud’s features and makes it
        easy to recover your account.
      </p>

      <a
        href="[verifyLink]"
        style="display: inline-block; text-decoration: none"
      >
        Confirm your email by clicking here.
      </a>

      <p>Thanks</p>

      <div style="background-color: #121212; padding: 15px 10px">
        <table align="center" cellpadding="0" cellspacing="0" border="0">
          <tr>
            <td style="padding: 0 10px">
              <a href="https://instagram.com" target="_blank">
                <img
                  src="https://cdn.simpleicons.org/instagram/ffffff"
                  width="30"
                  alt="Instagram"
                />
              </a>
            </td>
            <td style="padding: 0 10px">
              <a href="https://facebook.com" target="_blank">
                <img
                  src="https://cdn.simpleicons.org/facebook/ffffff"
                  width="30"
                  alt="Facebook"
                />
              </a>
            </td>

            <td style="padding: 0 10px">
              <a href="https://x.com" target="_blank">
                <img
                  src="https://cdn.simpleicons.org/x/ffffff"
                  width="30"
                  alt="X"
                />
              </a>
            </td>

            <td style="padding: 0 10px">
              <a href="https://youtube.com" target="_blank">
                <img
                  src="https://cdn.simpleicons.org/youtube/ffffff"
                  width="30"
                  alt="YouTube"
                />
              </a>
            </td>
          </tr>
        </table>
        <table
          align="center"
          cellpadding="0"
          cellspacing="0"
          border="0"
          style="margin: 20px auto"
        >
          <tr>
            <td align="center" style="padding-right: 10px">
              <img
                src="https://ci3.googleusercontent.com/meips/ADKq_NbbZKw4VNIhckzg0IicWeYZslVWy2XZce7BY039crWYHrgO8c5Y1tbUup2MOjZKaT36cC4gD83V1Llb3uOMi1vxoisyzOMdzWKdr174SR99drInzvipRZlPbAhViBIL6a7Avk3THA=s0-d-e1-ft#https://a-v2.sndcdn.com/assets/images/marketing/badge-app-stores-apple-en-us.png"
                alt="Download On App Store"
                width="200"
                style="
                  display: block;
                  max-width: 200px;
                  width: 100%;
                  height: auto;
                "
              />
            </td>
            <td align="center" style="padding-left: 10px">
              <img
                src="https://ci3.googleusercontent.com/meips/ADKq_NahZEvU3-pMtTFpTzbOaC0fIwDnhCIumoTBsCy51Y_MieasfdoWtt2FT8fVlWOVmaQKaG3COD3a82vJG87nUR8tuOMD7J4Z7YVhQDOyxxhtZkMqG2MaE-Rudy43jnXhjmRwfx-YezE=s0-d-e1-ft#https://a-v2.sndcdn.com/assets/images/marketing/badge-app-stores-google-en-us.png"
                alt="Download On Google Play"
                width="210"
                style="
                  display: block;
                  max-width: 210px;
                  width: 100%;
                  height: auto;
                "
              />
            </td>
          </tr>
        </table>
        <footer
          style="
            font-family: Arial, sans-serif;
            font-size: 12px;
            color: #fff;
            line-height: 1.6;
            max-width: 600px;
            text-align: center;
          "
        >
          <p>
            © 2007 - 2026 BeatZa Global Limited & Co. KG. All rights reserved.
          </p>
          <p>
            <a
              href="#"
              style="color: inherit; text-decoration: none; margin: 0 5px"
              >Manage Notifications</a
            >
            •
            <a
              href="#"
              style="color: inherit; text-decoration: none; margin: 0 5px"
              >Support</a
            >
            •
            <a
              href="#"
              style="color: inherit; text-decoration: none; margin: 0 5px"
              >Terms of Use</a
            >
            •
            <a
              href="#"
              style="color: inherit; text-decoration: none; margin: 0 5px"
              >Imprint</a
            >
            •
            <a
              href="#"
              style="color: inherit; text-decoration: none; margin: 0 5px"
              >Privacy Policy</a
            >
          </p>
          <p>
            BeatZa Global Limited & Co. KG<br />
            Rheinsberger Str. 76/77, 10115 Berlin, Germany
          </p>
        </footer>
      </div>
    </div>
  </body>
</html>
